= fields_for :record do |form|
  %label#adv-toggle Show advanced options
  #options{:style=>'display: none'}
    %table
      %tr
        %td 
          = form.label :retry_interval, :class=>'for-sms'
          %br
          = form.select :retry_interval, [['5 minutes', 5], ['10 minutes', 10], ['15 minutes', 15], ['30 minutes', 30]], {}, :class=>'for-sms'
      %tr
        %td 
          = form.label :response_time_limit
          %br
          = form.select :response_time_limit, [['no response needed', 0], ['5 minutes', 5], ['10 minutes', 10], ['15 minutes', 15], ['30 minutes', 30], ['1 hour', 60], ['2 hours', 120], ['6 hours', 360], ['12 hours', 720], ['24 hours', 1440]]
      %tr
        %td 
          = form.label :expiration, "Expiration"
          %br
          = form.select :expiration, [['never',0], ['24 hours', 1440] ]
      %tr
        %td 
          = form.label :importance
          %br
          = form.select :importance, [['normal',1], ['alert', 2], ['critical', 3]] 
      %tr
        %td 
          = form.label :confirm_time_limit, "Confirmation time limit"
          %br
          = form.select :confirm_time_limit, [['not needed', 0], ['5 minutes', 5], ['10 minutes', 10], ['15 minutes', 15], ['30 minutes', 30]]

