= fields_for :record do |form|
  %table{:style=>'width: 300px'}
    %tr
      %td.for-sms
        = form.label :sms_only, "SMS Text Message"
        %br
        = form.text_area :sms_only, :size => "40x2", :value=>"(from #{@current_user.name})"
    %tr
      %td.for-email
        = form.label :subject, "Subject (for email only)"
        %br
        = form.text_field :subject
    %tr
      %td
        = form.label :body, "Email Message (or \"More Information\" for SMS)", :id => 'body-label'
        %br
        = form.text_area :body, :size => "40x4", :value=>"(from #{@current_user.name})"
    %tr
      %td
        %table
          %tr
            %td
              = form.label :send_email, "Send email"
              %br
              = form.check_box :send_email         
            %td
              = form.label  :send_sms, "Send SMS"
              %br
              = form.check_box  :send_sms         
            %td 
              = form.label :retries, :class=>'for-sms'
              %br
              = form.select :retries, [['none', 0], ['1',1], ['2',2], ['3',3]], {}, :class=>'for-sms'

