<h1>Listing employment_statuses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employment_statuses.each do |employment_status| %>
  <tr>
    <td><%= employment_status.description %></td>
    <td><%= employment_status.code %></td>
    <td><%= link_to 'Show', employment_status %></td>
    <td><%= link_to 'Edit', edit_employment_status_path(employment_status) %></td>
    <td><%= link_to 'Destroy', employment_status, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employment status code', new_employment_status_path %>
