<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @employment_status.description %>
</p>

<p>
  <b>Code:</b>
  <%= @employment_status.code %>
</p>


<%= link_to 'Edit', edit_employment_status_path(@employment_status) %> |
<%= link_to 'Back', employment_statuses_path %>
