<h1>Listing Personnel Details</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Ministry</th>
    <th>Education code</th>
    <th>Qualifications</th>
    <th>Location code</th>
    <th>Miss status</th>
    <th>Date active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personnel_details.each do |personnel_detail| %>
  <tr>
    <td><%= personnel_detail.status.description if personnel_detail.status %></td>
    <td><%= personnel_detail.ministry.description if personnel_detail.ministry%></td>
    <td><%= personnel_detail.education.description if personnel_detail.education %></td>
    <td><%= personnel_detail.qualifications %></td>
    <td><%= personnel_detail.location.description if personnel_detail.location %></td>
    <td><%= personnel_detail.employment_status.description if personnel_detail.employment_status%></td>
    <td><%= personnel_detail.date_active %></td>
    <td><%= link_to 'Show', personnel_detail %></td>
    <td><%= link_to 'Edit', edit_personnel_detail_path(personnel_detail) %></td>
    <td><%= link_to 'Destroy', personnel_detail, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personnel detail', new_personnel_detail_path %>
