<p id="notice"><%= notice %></p>

<h2>Details for <%= @personnel_detail.member.full_name %></h2>
<p>
  <b>Status:</b>
  <%= @personnel_detail.status.description %>
</p>

<p>
  <b>Ministry:</b>
  <%= @personnel_detail.ministry.description if @personnel_detail.ministry%>
</p>

<p>
  <b>Ministry comment:</b>
  <%= @personnel_detail.ministry_comment %>
</p>

<p>
  <b>Education level:</b>
  <%= @personnel_detail.education.description if @personnel_detail.education %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @personnel_detail.qualifications %>
</p>

<p>
  <b>Location:</b>
  <%= @personnel_detail.location.description if @personnel_detail.location %>
</p>

<p>
  <b>Missionary status:</b>
  <%= @personnel_detail.employment_status.description if 
      @personnel_detail.employment_status %>
</p>

<p>
  <b>Date active:</b>
  <%= @personnel_detail.date_active %>
</p>


<%= link_to 'Edit', edit_personnel_detail_path(@personnel_detail) %> |
<%= link_to 'Back', personnel_details_path %>
