<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= collection_select(:city, :state, State.find(:all), :name, :name, 
         options ={:prompt => "-Select state"}) %>
  </div>
  
  <div class="field">
    <%= f.label :country %><br />
    <%= collection_select(:city, :country, Country.choices, :code, :name, 
         options ={:prompt => "-Select country"}) %>  
  <p class='form_note'>If desired country is not shown, please view the <%= link_to 'Countries List', countries_path %>, find the country
    you need, and edit it, marking the Include checkbox.</p>
  </div>
  <div class="field">
    <%= f.label :latitude %> <br>
    <%= f.text_field :latitude %> (Decimal degrees)
  </div>
  <div class="field">
    <%= f.label :longitude %> <br>
    <%= f.text_field :longitude %> (Decimal degrees)
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
