.active-scaffold
  %h4 Notice Mailer Report
  ActionMailer::Base.smtp_settings:
  = "To: #{@trav_mod.to}"
  %br
  = "Subject: #{@trav_mod.subject}"
  %br
  %br
  = @trav_mod.body.raw_source.gsub("\n","<br>")
