.active-scaffold.travel_reminders
  %h4 Travel Reminders
  %p 
    These are the trips scheduled for the next #{Settings.travel.pending_window} days.
    (By default, reminders are sent only once, so if a "Reminder sent" date is shown,
    another one will not be sent if and when you press the "Send" button.)
  = form_tag(send_travel_reminders_path, :method => "post")
  %table
    - @travels.each do |travel|
      %tr{:class=> cycle('list_line_odd' , 'list_line_even' )}
        %td
          %span.name 
            =  travel.member.last_name_first :middle=>false, :short=>true
          =  (raw "<br>Reminder sent #{travel.reminder_sent.to_s(:short)}, will not resend") if travel.reminder_sent
        %td.reminder~ "<pre>#{travel_reminder_data(travel).gsub("\n\n","\n")}</pre>".html_safe
  = submit_tag "Send"
