%h3 Error Section
- if @errors.any? 
  = debug(@errors)
  #error_explanation
    %h2 
      = "Problem(s) prohibited this family from being saved:"
    %ul
      - @errors.each do |person, field_errs| 
        %li
          = "#{person.upcase}:"
          %ul
            - field_errs.each do |field, msg|
              %li= "#{field}: #{msg}"
                
                

