<script>
$(function() {
$( "#tabs" ).tabs();
});
</script>

- @head = @record.head

<div >

<div id="tabs">
<ul>
<li><a href="#tabs-1">Head</a></li>
<li><a href="#tabs-2">Wife</a></li>
<li><a href="#tabs-3">Children</a></li>
<li><a href="#tabs-4">Family</a></li>
</ul>
<div id="tabs-1">
%h4 Information for the individual or <em>head</em> of family
= @head.last_name + ' is great!'
%p 
  %table.new_family
    %tr
      %td
        = label :record, :last_name,"", :class=>'required'
        %br
        = text_field :record, :last_name, :class=> "last_name-input"
      %td
        = label :record, :first_name,"", :class=>'required'
        %br
        = text_field :record, :first_name, :class=> "first_name-input"
      %td
        = label :record, :middle_name
        %br
        = text_field :record, :middle_name, :class=> "middle_name-input"
      %td
        = label :record, :short_name
        %br
        = text_field :record, :short_name, :class=> "short_name-input"
    %tr
    %td
      %label 
        = radio_button_tag 'gender', 'male'
        = 'Male'
      %label 
        = radio_button_tag 'gender', 'female'
        = 'Female'
    %tr
      %td
        = label_tag :head_name, "Full name of individual", :class=>'required'
        %br
        = text_field_tag :head_name,"", :class=> "name-input"
        %br
        %p.description Must be unique
</div>
<div id="tabs-2">
%h4 Information for the wife
%p 
  %table.new_family
    %tr
      %td
        = label :record, :last_name,"", :class=>'required'
        %br
        = text_field :record, :last_name, :class=> "last_name-input"
      %td
        = label :record, :first_name,"", :class=>'required'
        %br
        = text_field :record, :first_name, :class=> "first_name-input"
      %td
        = label :record, :middle_name
        %br
        = text_field :record, :middle_name, :class=> "middle_name-input"
      %td
        = label :record, :short_name
        %br
        = text_field :record, :short_name, :class=> "short_name-input"
    %tr
      %td
        = label_tag :head_name, "Full name of individual", :class=>'required'
        %br
        = text_field_tag :head_name,"", :class=> "name-input"
        %br
        %p.description Must be unique
    %tr
 
</div>
<div id="tabs-3">
%h4 Information for the children
</div>
<div id="tabs-4">
%h4 Information for the family
%p 
  %table.new_family
    %tr
      %td
        = label :record, :name, 'Name to identify family', :class=>'required'
        %br
        = text_field :record, :name, :class=> "name-input"
        %br
        %p.description Must be unique. Can be same as name of head of family or a customized family name like "Hill, Jack & Jill"
      %td
        = label :record, :sim_id, 'SIM ID', :class=>'required'
        %br
        = text_field :record, :sim_id, :class => 'sim_id-input'
      %td
        = label :record, :status, "Status"
        %br
        - status_choices = options_from_collection_for_select(Status.select('id, description').order('description'), :id, :description, @record[:status_id])
        = select(:record, :status, status_choices, {:include_blank => true })    
      %td
        = label :record, :residence_location, "Location"
        %br
        = select(:record, :residence_location, location_choices(@record[:residence_location_id]), {:include_blank => true })    
</div>
</div>
	

