.active-scaffold
  %h4 Create a New Individual or Family

  = form_for :record, :url => { :action => "create" } do |form| 
    = render 'shared/error_messages', :object => @record
    %h4 Information for the individual or <em>head</em> of family
    %p 
      %table.new_family
        %tr
          %td
            = form.label :last_name,"", :class=>'required'
            %br
            = form.text_field :last_name, :class=> "last_name-input"
          %td
            = form.label :first_name,"", :class=>'required'
            %br
            = form.text_field :first_name, :class=> "first_name-input"
          %td
            = form.label :middle_name
            %br
            = form.text_field :middle_name, :class=> "middle_name-input"
          %td
            = form.label :short_name
            %br
            = form.text_field :short_name, :class=> "short_name-input"
        %tr
          %td
            = label_tag :head_name, "Full name of individual", :class=>'required'
            %br
            = text_field_tag :head_name,"", :class=> "name-input"
            %br
            %p.description Must be unique
        %tr
        %td
          %hr
        %tr
          %td
            %h4 Information for individual or <em>entire family</em>
        %tr
          %td
            = form.label :name, 'Name to identify family', :class=>'required'
            %br
            = form.text_field :name, :class=> "name-input"
            %br
            %p.description Must be unique. Can be same as name of head of family or a customized family name like "Hill, Jack & Jill"
          %td
            = form.label :sim_id, 'SIM ID', :class=>'required'
            %br
            = form.text_field :sim_id, :class => 'sim_id-input'
          %td
            = form.label :status, "Status"
            %br
            - status_choices = options_from_collection_for_select(Status.select('id, description').order('description'), :id, :description, @record[:status_id])
            = form.select(:status, status_choices)    
          %td
            = form.label :residence_location, "Location"
            %br
            = form.select(:residence_location, location_choices(@record[:residence_location_id]))    
    .form-footer
      %br
      = form.submit "Create"
      = link_to "Cancel", families_path, :class=>"as_cancel"
  / 
    %h4 Family Members
    #family_members{:style=>'margin-left: 10px'}

      - @record.members.each do  |m|
        %p= link_to 'Edit', edit_member_path(m), {:remote=>"true", :position=>"after", :class=>"edit as_action"}  
        %span= m.to_label + " (#{m.sex})"




