.field
  = formobject.label :name
  %br
  = formobject.text_field :name 
.field
  = formobject.label :email
  %br
  = formobject.text_field :email 
.field
  = formobject.label :password
  %br
  = formobject.password_field :password 
.field
  = formobject.label :password_confirmation, "Confirmation"
  %br
  = formobject.password_field :password_confirmation 

