.field
  = formobject.label :admin, "System Administrator"
  %br
  = formobject.check_box :admin 
.field
  = formobject.label :medical, "Medical"
  %br
  = formobject.check_box :medical 
.field
  = formobject.label :personnel, "Personnel Manager"
  %br
  = formobject.check_box :personnel 
.field
  = formobject.label :asst_personnel, "Personnel Assistant"
  %br
  = formobject.check_box :asst_personnel
.field
  = formobject.label :travel, "Travel"
  %br
  = formobject.check_box :travel 
.field
  = formobject.label :immigration, "Immigration"
  %br
  = formobject.check_box :immigration 
