.field
  = formobject.check_box :member 
  = formobject.label :member, "Member"
.field
  = formobject.check_box :medical 
  = formobject.label :medical, "Medical"
.field
  = formobject.check_box :personnel 
  = formobject.label :personnel, "Personnel Manager"
.field
  = formobject.check_box :asst_personnel
  = formobject.label :asst_personnel, "Personnel Assistant"
.field
  = formobject.check_box :travel 
  = formobject.label :travel, "Travel"
.field
  = formobject.check_box :immigration 
  = formobject.label :immigration, "Immigration"
.field
  = formobject.check_box :admin 
  = formobject.label :admin, "System Administrator"

