.active-scaffold
  %h1 Edit User #{@user.name}
  = form_for(@user) do |f| 
    = render 'shared/error_messages', :object => f.object
    = render 'form', :formobject=>f 
    .actions
      = f.submit 
      = link_to "Cancel", users_path, :class=>"as_cancel"
    
