.active-scaffold
  %h1 Edit #{@user.name} roles
  = form_for @user, :url => { :action => "update_roles" } do |f| 
    = render 'shared/error_messages', :object => f.object
    = render 'roles_form', :formobject=>f 
    .actions
      = f.submit 
      = link_to "Cancel", users_path, :class=>"as_cancel"
    
