#links
  %p Main Menu
  %p= signed_in? ? "Signed in as #{current_user.name}" : "Not signed in" 
  - if signed_in? 
    %ul.links
      %li= link_to 'Families', families_path 
      %li= link_to 'Members', members_path 
      =# %li= link_to "User Settings", edit_user_path(current_user)       
      %li= link_to 'Travel', travels_path 
      %li= link_to 'Contacts', contacts_path 
      %li= link_to 'Reports', reports_path      
      %li= link_to 'Calendar events', calendar_events_path      
      - if can? :create, User
        %li= link_to 'Users',users_path 
      %li 
        Set member filter
        %ul
          %li= link_to 'Active only', set_member_filter_path(:filter => :active) 
          %li= link_to 'On field only', set_member_filter_path(:filter => :field) 
          %li= link_to 'Home assignment',  set_member_filter_path(:filter => :home_assignment) 
          %li= link_to 'HA or leave',  set_member_filter_path(:filter => :home_assignment_or_leave) 
          %li= link_to 'Pipeline',  set_member_filter_path(:filter => :pipeline) 
          %li= link_to 'Other',  set_member_filter_path(:filter => :other) 
          %li= link_to 'Clear filter',  set_member_filter_path(:filter => :all) 
      %li 
        Set travel filter
        %ul
          %li= link_to 'All current travel', set_travel_filter_path(:travel_filter => :current)
          %li= link_to 'Current arrivals', set_travel_filter_path(:travel_filter => :arrivals)
          %li= link_to 'Current departures', set_travel_filter_path(:travel_filter => :departures)
          %li= link_to 'Include past', set_travel_filter_path(:travel_filter => :all_dates)
      %li= link_to "Edit your user info", edit_user_path(current_user)
      %li= link_to "Sign out", signout_path, :method => :delete       
    %hr
    %ul.links
      %h5 Option Tables
      %li= link_to 'Bloodtypes', bloodtypes_path 
      %li= link_to 'Cities', cities_path 
      %li= link_to 'Contact types', contact_types_path 
      %li= link_to 'Countries', countries_path 
      %li= link_to 'Education codes', educations_path 
      %li= link_to 'Employment status codes', employment_statuses_path 
      %li= link_to 'Locations', locations_path 
      %li= link_to 'Ministry codes', ministries_path 
      %li= link_to 'States', states_path 
      %li= link_to 'Status codes', statuses_path 
    - if current_user_admin?
      %li= link_to 'Log', '/app_logs'
      %li= link_to 'Settings', site_settings_path
      %li= link_to 'Clean database', clean_database_path 
      %li= link_to 'Send family summaries', family_summaries_path
      %li= link_to 'Send travel reminders', travel_reminders_path
      %li= link_to 'Send travel update notices', travel_update_notices_path, :method=>:put
      %li= link_to 'Send contact updates', contact_updates_path
      %hr
  - else 
    %p Please sign in 
    = link_to "Sign in", signin_path
  .clear
  

