#links
  %p Main Menu
  %p= signed_in? ? "Signed in as #{current_user.name}" : "Not signed in" 
  - if signed_in? 
    %ul.links
      %li= link_to 'Families', families_path 
      %li= link_to 'Members', members_path 
      =# %li= link_to "User Settings", edit_user_path(current_user)       
      %li= link_to 'Travel', travels_path 
      %li= link_to 'Contacts', contacts_path 
      %li= link_to 'Reports', :controller=>'reports', :action=>'index'      
      %li= link_to 'Calendar events', calendar_events_path      
      - if can? :create, User
        %li= link_to 'Users',users_path 
      %li 
        Set member filter
        %ul
          %li= link_to 'Active only', :controller=>'application', :action=>'set_member_filter', :filter => :active 
          %li= link_to 'On field only', :controller=>'application', :action=>'set_member_filter', :filter => :field 
          %li= link_to 'Home assignment',  :controller=>'application', :action=>'set_member_filter', :filter => :home_assignment 
          %li= link_to 'HA or leave',  :controller=>'application', :action=>'set_member_filter', :filter => :home_assignment_or_leave 
          %li= link_to 'Pipeline',  :controller=>'application', :action=>'set_member_filter', :filter => :pipeline 
          %li= link_to 'Other',  :controller=>'application', :action=>'set_member_filter', :filter => :other 
          %li= link_to 'Clear filter',  :controller=>'application', :action=>'set_member_filter', :filter => :all 
      %li 
        Set travel filter
        %ul
          %li= link_to 'All current travel', :controller=>'application', :action=>'set_travel_filter', :travel_filter => :current
          %li= link_to 'Current arrivals', :controller=>'application', :action=>'set_travel_filter', :travel_filter => :arrivals
          %li= link_to 'Current departures', :controller=>'application', :action=>'set_travel_filter', :travel_filter => :departures
          %li= link_to 'Include past', :controller=>'application', :action=>'set_travel_filter', :travel_filter => :all_dates
      %li= link_to "Edit your user info", edit_user_path(current_user)
      %li= link_to "Sign out", signout_path, :method => :delete       
    %hr
    %ul.links
      %h5 Option Tables
      %li= link_to 'Bloodtypes', bloodtypes_path 
      %li= link_to 'Cities', cities_path 
      %li= link_to 'Contact types', contact_types_path 
      %li= link_to 'Countries', countries_path 
      %li= link_to 'Education codes', educations_path 
      %li= link_to 'Employment status codes', employment_statuses_path 
      %li= link_to 'Locations', locations_path 
      %li= link_to 'Ministry codes', ministries_path 
      %li= link_to 'States', states_path 
      %li= link_to 'Status codes', statuses_path 
    - if current_user_admin?
      %li= link_to 'Clean database', clean_database_path 
      %li= link_to 'Send family summaries', mail_notices_path
      %hr
  - else 
    %p Please sign in 
    = link_to "Sign in", signin_path
  .clear
  

