<%= form_for(@bloodtype) do |f| %>
  <% if @bloodtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bloodtype.errors.count, "error") %> prohibited this bloodtype from being saved:</h2>

      <ul>
      <% @bloodtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abo %><br />
    <%= f.text_field :abo %>
  </div>
  <div class="field">
    <%= f.label :rh %><br />
    <%= f.text_field :rh %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :full %><br />
    <%= f.text_field :full %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
