.contacts_subform
  -# = debug(@record.contacts)  
  %table
    - @record.contacts.each do |contact|
      = fields_for contact, :index=>contact.id do |contact_form|
        %tr
          %td 
            = contact_form.label :contact_type_id, "Type"
            %br
            = contact_form.collection_select(:contact_type_id, ContactType.all, :id, :description, {:include_blank => true })    
            = contact_form.check_box :is_primary
            = contact_form.label :is_primary, "Primary"
          %td 
            = contact_form.label :contact_name, "Contact name"
            %br
            = contact_form.text_field :contact_name, :class=>'first_name-input'
          %td 
            = contact_form.label :address, "Address"
            %br
            = contact_form.text_field :address
          %td 
            = contact_form.label :phone_1, "Phone 1"
            %br
            = contact_form.text_field :phone_1, :class => 'phone-input'
          %td 
            = contact_form.label :phone_2, "Phone 2"
            %br
            = contact_form.text_field :phone_2, :class => 'phone-input'
        %tr
          %td
          %td 
            = contact_form.label :email_1, "Email 1"
            %br
            = contact_form.text_field :email_1

    -# fields_for @record.contacts do |contact|
    
