<% @contact_types = ContactType.find(:all, :order => :code) %>
<% @members = Member.find(:all, :order => :last_name ) %>
  
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.collection_select(:member_id, @members, :id, :last_name_first, 
         options ={:prompt => "Select member"}) %>  
  </div>
  <div class="field">
    <%= f.label :email_1 %><br />
    <%= f.text_field :email_1 %>
  </div>
  <div class="field">
    <%= f.label :email_2 %><br />
    <%= f.text_field :email_2 %>
  </div>
  <div class="field">
    <%= f.label :phone_1 %><br />
    <%= f.text_field :phone_1 %>
  </div>
  <div class="field">
    <%= f.label :phone_2 %><br />
    <%= f.text_field :phone_2 %>
  </div>
  <div class="field">
    <%= f.label :blog %><br />
    <%= f.text_field :blog %>
  </div>
  <div class="field">
    <%= f.label :other_website %><br />
    <%= f.text_field :other_website %>
  </div>
  <div class="field">
    <%= f.label :photos %><br />
    <%= f.text_field :photos %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address, :size => "50x5"%>
  </div>
  <div class="field">
    <%= f.label :contact_type %><br />
    <%= f.collection_select(:contact_type_id, @contact_types, :id, :code_with_description, 
         options ={:prompt => "Select"}) %>  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
