<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% @members = Member.find(:all, :order => :last_name ) %>
  <% @bloodtypes = Bloodtype.find(:all, :order => :full ) %>

  <div class="field">
    <%= f.label :family_id %><br />
    <%= collection_select(:member, :family_id, @members, :id, :last_name_first, 
         options ={:prompt => "Select family"}) %>  
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :spouse_id %><br />
    <% @members = Member.find(:all, :order => :last_name ) %>
    <%= collection_select(:member, :spouse_id, @members, :id, :last_name_first, 
         options ={:prompt => "Select spouse"}) %>  
  </div>

  <div class="field">
    <%= f.label :short_name %><br />
    <%= f.text_field :short_name %>
  </div>
  <div class="field">
    <%= f.label :sex %><br />
    <%= f.radio_button :sex, 'M' %>
    <%= f.label :sex_m, 'Male' %> 
    <%= f.radio_button :sex, 'F' %>
    <%= f.label :sex_f, 'Female' %> 
  </div>
  <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date, :start_year => 1910, :end_year=>Time.now.year %>
  </div>
  <div class="field">
    <%= f.label :country_id %><br />
    <%= collection_select(:member, :country_id, Country.choices, :id, :name, 
         options ={:prompt => "-Select country"}) %>  
  <p class='form_note'>If desired country is not shown, please view the <%= link_to 'Countries List', countries_path %>, find the country
    you need, and edit it, marking the Include checkbox.</p>
  </div>
<h4>Basic Medical Info</h4>
  <div class="field">
    <%= f.label :bloodtype_id %><br />
    <%= f.collection_select(:bloodtype_id, @bloodtypes, :id, :full, 
         options ={:prompt => "Select"}) %>  
  </div>
  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_field :allergies %>
  </div>
  <div class="field">
    <%= f.label :medications %><br />
    <%= f.text_field :medications %>
  </div>
  <div class="field">
    <%= f.label :medical_facts %><br />
    <%= f.text_field :medical_facts, :size => "50x5"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
