<h1>Listing members</h1>

<table>
  <tr>
    <th>Family ID</th>
    <th>Name</th>
    <th>Sex</th>
    <th>Nationality</th>
    <th>Birthdate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.family_id %></td>
    <td><%= member.last_name_first(true) %></td>
    <td><%= member.sex %></td>
    <td><%= member.country.code if member.country %><%= member.country_id unless member.country %></td>
    <td><%= member.birth_date %></td>
    <td><%= link_to 'Show', member, :class=>:indent_1 %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
