<p id="notice"><%= notice %></p>


<h2><%= @member.full_name %></h2>

<p>
  <b>Sex:</b>
  <%= @member.sex %>
</p>
<p><b>Birthdate:</b> <%= @member.birth_date %> (Age <%= @member.age %>)</p>
<p><b>Spouse: </b>
  <%= link_to @member.spouse.first_name, member_path(@member.spouse) if @member.spouse %> 
<p>
  <b>Nationality:</b>
  <%= @member.country.name %> 
</p>

<p>
  <b>Family ID:</b>
  <%= link_to @member.family.first_name + " " + @member.family.last_name,
      member_path(@member.family) %>
</p>
<h4>Basic Medical Info</h4>
<p class='indent_1'><b>Bloodtype:</b> <%= @member.bloodtype.full if @member.bloodtype %></p>
<p class='indent_1'><b>Medical issues:</b> <%= @member.medical_facts %></p>
<p class='indent_1'><b>Allergies:</b> <%= @member.allergies %></p>
<p class='indent_1'><b>Medications:</b> <%= @member.medications %></p>
<h4>Contacts</h4>
<ul>
  
<% for contact in @member.contacts %>
 <li>
   <%= link_to (contact.contact_type.description || "???"), contact_path(contact) %>
 </li>
<% end %>
<li><%= link_to 'Add new contact', new_contact_path(:member_id=>@member) %></li>
</ul>
<h4>Personnel info</h4>
<% if @member.personnel_detail %>
    <%=  render(:partial => "personnel_detail", :locals => {:personnel_detail => @member.personnel_detail}) =%>
  <%  else  %>
      <ul><li>No personnel details defined</li>
      <li><%= link_to 'New Personnel detail', new_personnel_detail_path(:member_id=>@member) %></li>
      </ul>
  <%  end  %>
    
<p>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
</p>