Updated Contacts
= ''
These contacts have been recently updated. Not every piece of information
in any contact has been changed, and there may be some contacts where in
fact nothing has changed (if the record was updated in the database but
the information was not changed).
= ''
- if !@contacts.empty?
  - @contacts.each do |contact|
    = "#{contact.member.last_name_first(:initial=>true, :short=>true)} (updated #{contact.updated_at.to_s(:date)})"
    = "Contact type: #{contact.contact_type}"
    = render(:partial => "reports/contact", :object=>contact )
- else
  *** No changes recorded ***
= ''
= ''
= ''
reports#contact_updates  
  
  
