%h1 Reports and Calendars
%h4 Reports
%p Choose a report from those listed below
%ul
  %li#travel_schedule
    Travel schedule (PDF)
    %ul
      %li= link_to "Basic", "/reports/travel_schedule.pdf", :id=>'travel-basic'
      %li= link_to "Detailed", "/reports/travel_schedule.pdf?residence_column=1&detail_columns=1", :id=>'travel-detailed'
  %li#birthday_list= link_to "Birthday list (PDF)", "/reports/birthdays.pdf"
  %li#bloodtypes= link_to "Blood types (PDF)", "/reports/bloodtypes.pdf"
  %li#whereis
    "Where is everyone?" (includes phone & email list)
    %ul 
      %li= link_to 'By family (HTML)', '/reports/whereis.html?by=family', :id=>'whereis-family'
      %li= link_to 'By location (HTML)', '/reports/whereis.html?by=location', :id=>'whereis-location'
      %li= link_to 'By family and location--basic (PDF)', '/reports/whereis.pdf', :id=>'whereis-pdf'
      %li= link_to 'By family and location--detailed (PDF)', '/reports/whereis.pdf?location=long', :id=>'whereis-detailed-pdf'
  %li#list_field_terms 
    Current & projected field terms
    %ul
      %li#list_field_terms= link_to "HTML", "/reports/list_field_terms"
      %li#list_field_terms= link_to "PDF", "/reports/list_field_terms.pdf"
  %li#statistics_1= link_to "Statistics 1", "/reports/statistics_1.html"
%hr
%h4 Calendars
%p Calendars are all in PDF format.
= form_tag('/reports/calendar.pdf', :method => "get")
%p Select which types of data should appear on the calendar.
= check_box_tag(:birthdays)
= label_tag(:birthdays, "Birthdays")
= check_box_tag(:travel)
= label_tag(:travel, "Travel")
= check_box_tag(:events)
= label_tag(:events, "Other events")
%br
%p Select the month for this calendar:
= select_month(Time.now.next_month)
= select_year(Time.now.next_month)
%br
%p Click below to generate and download the calendar.
= submit_tag "Generate"
