%h1 Reports
%p Choose a report from those listed below
%ul
  %li= link_to "Phone and email list", "/reports/phone_email.pdf"
  %li= link_to "Travel schedule", "/reports/travel_schedule.pdf"
  %li= link_to "Birthday list", "/reports/birthdays.pdf"
  %li= link_to "Blood types", "/reports/bloodtypes.pdf"
%h4 Calendars
%ul
  %li= link_to "Birthday calendar", "/reports/birthday_calendar.pdf"  
  %li= link_to "Travel calendar", "/reports/travel_calendar.pdf"
  %li= link_to "Combined calendar", "/reports/birthday_travel_calendar.pdf"  

