!!! html
!!!
%html
  %head
    %title= @title ||= 'SIM' 
    %meta{ 'http-equiv' => "content-type", 'content'=> "text/html;charset=UTF-8"}
    = include_stylesheets :common, :media => 'all'
    = yield :stylesheets
    = include_javascripts :common
    = yield :javascripts
    = csrf_meta_tag 
    = yield :head
%body
  #top{:class => "theme-#{current_user.theme.downcase}"}
    #menu
      = render 'shared/side_menu' 
    #content
      - if flash.any?  
        #notice
          - flash.each do |key, value| 
            %div{:class=>"flash #{key}" }= value
      #main= yield 

