.active-scaffold
  %h3 #{@record.full_name}
  %table
    - if @record.spouse
      %tr
        %td.label Spouse
        %td= @record.spouse.name_optional_last
    %tr
      %td.label SIM Family ID
      %td= @record.family.sim_id
      - if (can? :read, :personnel) || (can? :read, :medical)
        %td.label Birthday
        %td= @record.birth_date.to_s(:short) if @record.birth_date 
      %td.label Sex
      %td= @record.sex
      %td.label Nationality
      %td= @record.country.nationality
    %tr
      %td.label Home location
      %td= @record.residence_location
      %td.label Ministry
      %td= "#{@record.ministry} #{@record.ministry_comment}" 
      %td.label Ministry location
      %td= @record.work_location
      %td.label Status
      %td= @record.status
    - if @record.temporary_location
      %tr
        %td.label Temporary location
        %td= @record.temporary_location
        %td.label dates
        %td= "#{@record.temporary_location_from_date.to_s()} to #{@record.temporary_location_until_date.to_s()}"
    %tr
      - if can? :read, HealthData
        %td.label Allergies
        %td= @record.health_data.allergies
        %td.label Bloodtype
        %td= @record.health_data.bloodtype
    - if can? :read, PersonnelData
      %tr
        %td.label Birth date  
        %td= @record.birth_date.to_s(:default)   if @record.birth_date   
        %td.label Education  
        %td= @record.personnel_data.education    
        %td.label Qualifications  
        %td= @record.personnel_data.qualifications
        %td.label Date active  
        %td= @record.personnel_data.date_active
        %td.label Employment  
        %td= @record.personnel_data.employment_status    
              
             
          
